.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}
.container h1, p{
    text-align: center;
}
/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}
#flex {
    display: flex;
    justify-content: space-between;
}
